<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'profile', media: 'all' %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <nav class="top-nav">

    <div style="width: 40%;">
      <div class="button-container-left">
        <%= link_to "GameSalesTracker", root_path, class: "button-link" %>
        <%= form_with url: search_games_path, method: :get do |f| %>
        <div class="search">
          <%= f.text_field :search_query, class: "searchTerm", placeholder: "Search for games" %>
          <button type="submit" class="searchButton">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <% end %>
      </div>
    </div>

<div style="width: 60%;">
  <div class="button-container-right">
    <% if user_signed_in? %>
      <div class="dropdown" style="padding: 7px;">
        <a class="button-link dropdown-toggle" href="#" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          My Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><%= link_to 'My Profile', user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>

          <% if current_user.role == 'admin' %>
            <li class="dropdown-divider"></li>
            <li><%= link_to 'Admin panel', admins_index_path, class: 'dropdown-item' %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'button-link' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'button-link' %>
    <% end %>

    <%= link_to 'Need Help?', support_path, class: 'button-link' %>
  </div>
</div>


  </nav>
  <% flash.each do |type, msg| %>
  <div>
    Notification: <%= msg %>
  </div>
  <% end %>
  <title>GameSalesTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body data-turbo-action="replace">
  <%= yield %>

  <!-- Bootstrap JavaScript bundle at the end of the HTML body -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
