<!DOCTYPE html>
<html>
<%= stylesheet_link_tag 'profile', media: 'all' %>

   <head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
       <nav class="top-nav">
        <div style="width: 25%; text-align: left;">
          <%= link_to "GameSalesTracker", root_path, class: "button-link" %><br><br>
          <%= link_to "My Collections", collections_path, class: "button-link" %>
        </div>
        <div style="width: 50%; text-align: center;">

          <% if user_signed_in? %>
            Welcome back, <%= current_user.username%>! <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "button-login" %>
          <% else %>
        <!-- Content for non-logged-in users -->
            New here? <%= link_to "Sign Up", new_user_registration_path, class: "button-login" %>
          <% end %>
          <br><br>
          <%= form_with url: search_games_path, method: :get do |f| %>
            <%= f.label :search_query, "Search for games" %>
            <%= f.text_field :search_query %>
            <%= f.submit "Search" %>
          <% end %>                   
      </div>
      <div style="width: 25%; text-align: right;">
      <% if user_signed_in? %>
        <%= link_to "My account", user_path, class: "button-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "button-link" %>
      <% end %>
      <br><br>
        <%= link_to "Need Help?", support_path, class: "button-link" %>
      </div>
    </nav>
   <% flash.each do |type, msg| %> <div>
    Notification: <%= msg %>
  </div>
<% end %>
    <title>GameSalesTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <br>
  <body>
  <!-- app/views/layouts/application.html.erb or wherever your navigation is -->

    <%= yield %>
  </body>
  <br><br>
</html>
