<head>
  <title>Details</title>
  <%= stylesheet_link_tag 'details', media: 'all' %>
</head>

  <!--FLASH MESSAGES/ALERT-->
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

<h1><%= @game_details['title'] %></h1>
<div class="container">
  <% if @game_details.present? %>
    <div class="game-details-section">
      <h2>Game Details</h2>
      <div class="game-details">
      <div class="info">
      <ul>
        <% if @game_details['type'].present? %>
          <li><strong>Type:</strong> <%= @game_details['type'] %></li>
        <% end %>
        <% if @game_details['releaseDate'].present? %>
          <li><strong>Release Date:</strong> <%= @game_details['releaseDate'] %></li>
        <% end %>
        <% if @game_details['developers'].present? %>
          <li><strong>Developers:</strong> <%= @game_details['developers'].map { |dev| dev['name'] }.join(', ') %></li>
        <% end %>
        <% if @game_details['publishers'].present? %>
          <li><strong>Publishers:</strong> <%= @game_details['publishers'].map { |pub| pub['name'] }.join(', ') %></li>
        <% end %>
        <% if @game_details['tags'].present? %>
          <li><strong>Tags:</strong> <%= @game_details['tags'].join(', ') %></li>
        <% end %>
        <% if @game_details['reviews'].present? %>
          <li><strong>Reviews:</strong>
            <div class="reviews-container">
              <% @game_details['reviews'].sort_by { |review| review['source'] }.each do |review| %>
                <div class="review-item">
                  <span class="source"><%= review['source'] %></span>:
                  <span class="score <%= score_color_class(review['score']) %>"><%= review['score'] %></span>
                  (<span class="count"><%= review['count'] %></span> reviews)
                  [<%= link_to 'Read more', review['url'], class: "url" %>]
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if @game_details['stats'].present? %>
          <li><strong>Stats:</strong> Rank: <%= @game_details['stats']['rank'] || 'N/A' %>, Waitlisted: <%= @game_details['stats']['waitlisted'] || 'N/A' %>, Collected: <%= @game_details['stats']['collected'] || 'N/A' %></li>
        <% end %>
        <% if @game_details['players'].present? %>
          <li><strong>Players:</strong> 
            Recent: <%= @game_details['players']['recent'] || 'N/A' %>, 
            Day: <%= @game_details['players']['day'] || 'N/A' %>, 
            Week: <%= @game_details['players']['week'] || 'N/A' %>, 
            Peak: <%= @game_details['players']['peak'] || 'N/A' %>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="game-banner">
      <% if @game_details['assets'].present? && @game_details['assets']['banner300'].present? %>
        <img src="<%= @game_details['assets']['banner300'] %>" alt="Game Banner">
      <% else %>
        <!-- Immagine di placeholder nel caso in cui l'API non fornisca un'immagine -->
        <img src="<%= asset_path("placeholder.png") %>" alt="Placeholder Image">
      <% end %>
    </div>
    </div>
  <% else %>
    <p>No game details available.</p>
  <% end %>
</div>
</div>
<div class="container">
  <% if @game_prices.present? %>
    <div class="game-prices-section">
      <table class="prices-table">
        <thead>
          <tr class="header-row">
            <th>Shop</th>
            <th>Price</th>
            <th>Regular Price</th>
            <th>Vouchers</th>
            <th>Cut</th>
            <th>Store Low</th>
            <th>DRM</th>
            <th>Platforms</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
        <% @game_prices.each do |game_price| %>
          <% game_price['deals'].each do |deal| %>
            <tr>
              <td class="deal"><%= deal['shop']['name'] %></td>
              <% if deal['price'].present? %>
                <td class="price bold-text"><%= number_with_precision(deal['price']['amount'], precision: 2) %> <%= deal['price']['currency'] %></td>
              <% else %>
                <td class="price bold-text">N/A</td>
              <% end %>
              <% if deal['regular'].present? %>
                <td class="regular-price crossed-out"><%= number_with_precision(deal['regular']['amount'], precision: 2) %> <%= deal['regular']['currency'] %></td> 
              <% else %>
                <td class="regular-price crossed-out">N/A</td>
              <% end %>
              <% if deal['voucher'].present? %>
                <td class="voucher"><%= deal['voucher'] %></td>
              <% else %>
                <td class="voucher"></td>
              <% end %>
              <% if deal['price'].present? && deal['regular'].present? %>
                <td class="cut"><%= number_to_percentage(calculate_cut(deal['price']['amount'], deal['regular']['amount']).to_i, precision: 0) %></td>
              <% else %>
                <td class="cut">N/A</td>
              <% end %>
                <% if deal['storeLow'].present? %>
                  <td><%= number_with_precision(deal['storeLow']['amount'], precision: 2) %> <%= deal['storeLow']['currency'] %></td>
                <% else %>
                  <td>N/A</td>
                <% end %>
                <% if deal['drm'].present? %>
                  <td class="drm"><%= deal['drm'].map { |drm| drm['name'] }.join(', ') %></td>
                <% else %>
                  <td class="drm">N/A</td>
                <% end %>
                <td class="platform-icons">
                  <% if deal['platforms'].present? %>
                    <% deal['platforms'].each do |platform| %>
                      <img src="<%= asset_path("#{platform['name']}.png") %>" alt="<%= platform['name'] %>" style="width: 24px; height: 24px;">
                    <% end %>
                  <% end %>
                </td>
                <td><%= link_to 'Link', deal['url'] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="no-info-message">We currently have no other information available.</p>
  <% end %>  
  <br>

<% if current_user && current_user.collections.any? %>
  <h3>Add to Collection:</h3>
  <%= form_with(url: add_to_collection_game_path, method: :post, local: false, data: { turbo: 'false' }) do |form| %>
    <%= form.hidden_field :game_id, value: @game_details['id'] %>
    <%= form.collection_select(:collection_id, current_user.collections, :id, :name, prompt: 'Select a collection') %>
    <%= form.submit 'Add to Collection', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>No collections found.</p>
<% end %>
<br>


  <div class="container mt-4">
    <h2>Comments</h2>
    <% if @comments.present? %>
    <% @comments.each do |comment| %>
    <div class="comment">
      <div class="card mb-3 position-relative" style="max-width: 500px;">
        <div class="card-body p-3">
          <div class="d-flex align-items-center">
            <%= image_tag(comment.user.avatar, class: "rounded-circle shadow-1-strong me-3 mb-4", size: "60x60") if comment.user.avatar.present? %>
            <div>
              <h6 class="text-white fw-bold mb-1">
                <%= comment.user.username %>
              </h6>
              <p class="text-white mb-3 mt-2"><%= comment.body %></p>
              <p class="text-muted mb-0"><%= time_ago_in_words(comment.created_at) %> ago</p>
            </div>
            <div class="thumbs-up-down-icons position-absolute top-0 end-0 mt-2 me-2">
              <% if comment.like %>
              <i class="fas fa-thumbs-up text-primary fa-lg"></i>
              <span>&nbsp;</span>
              <i class="far fa-thumbs-down text-muted fa-lg"></i>
              <% else %>
              <i class="far fa-thumbs-up text-muted fa-lg"></i>
              <span>&nbsp;</span>
              <i class="fas fa-thumbs-down text-primary fa-lg"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <p>No comments yet.</p>
    <% end %>
  </div>

<!-- Check if the current user has already commented -->
 <% if user_signed_in? %>
  <% if current_user.comments.exists?(gameplain: @game_id) %>
  <!-- Show the user's existing comment -->
  <div class="container mt-4">
    <h3>Your Comment:</h3>
    <div id="user-comment">
      <% if @comments.present? %>
      <% comment = @comments.first %>
      <p id="user-comment-text"><strong><%= comment.user.username %>:</strong> <%= comment.body %></p>
      <button id="edit-comment-btn">Edit</button>
      <% end %>
    </div>
  </div>
  <!-- Edit comment form -->
  <div id="edit-comment-form" style="display: none;">
    <%= form_with(model: comment, url: game_comment_path(@game_id, comment), method: :patch, remote: true, id: "editCommentForm") do |form| %>
    <div class="form-group">
      <%= form.label :body, class: "form-control-label" %>
      <%= form.text_area :body, rows: 3, class: "form-control" %>
    </div>
    <%= form.submit "Update Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
<!-- Show the comment form -->
<div class="container mt-4">
  <%= form_with(model: [current_user, Comment.new], url: game_comments_path(@game_id), local: true) do |form| %>
  <%= form.radio_button :like, true %> Like
  <%= form.radio_button :like, false %> Dislike
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 3 %>
  </div>
  <%= form.hidden_field :gameplain, value: @game_id %>
  <%= form.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
<% end %>

<br><br>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const editBtn = document.getElementById("edit-comment-btn");
    const userCommentText = document.getElementById("user-comment-text");
    const editCommentForm = document.getElementById("edit-comment-form");

    if (editBtn) {
      editBtn.addEventListener("click", function() {
        userCommentText.style.display = "none";
        editBtn.style.display = "none";
        editCommentForm.style.display = "block";
      });
    }
  });
</script>

