<head>
  <title>Details</title>
  <%= stylesheet_link_tag 'details', media: 'all' %>
</head>

<h1><%= @game_details['title'] %></h1>
<div class="container">
  <% if @game_details.present? %>
    <div class="game-details-section">
      <h2>Game Details</h2>
      <div class="game-details">
      <div class="info">
      <ul>
        <% if @game_details['type'].present? %>
          <li><strong>Type:</strong> <%= @game_details['type'] %></li>
        <% end %>
        <% if @game_details['releaseDate'].present? %>
          <li><strong>Release Date:</strong> <%= @game_details['releaseDate'] %></li>
        <% end %>
        <% if @game_details['developers'].present? %>
          <li><strong>Developers:</strong> <%= @game_details['developers'].map { |dev| dev['name'] }.join(', ') %></li>
        <% end %>
        <% if @game_details['publishers'].present? %>
          <li><strong>Publishers:</strong> <%= @game_details['publishers'].map { |pub| pub['name'] }.join(', ') %></li>
        <% end %>
        <% if @game_details['tags'].present? %>
          <li><strong>Tags:</strong> <%= @game_details['tags'].join(', ') %></li>
        <% end %>
        <% if @game_details['reviews'].present? %>
          <li><strong>Reviews:</strong>
            <div class="reviews-container">
              <% @game_details['reviews'].sort_by { |review| review['source'] }.each do |review| %>
                <div class="review-item">
                  <span class="source"><%= review['source'] %></span>:
                  <span class="score <%= score_color_class(review['score']) %>"><%= review['score'] %></span>
                  (<span class="count"><%= review['count'] %></span> reviews)
                  [<%= link_to 'Read more', review['url'], class: "url" %>]
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if @game_details['stats'].present? %>
          <li><strong>Stats:</strong> Rank: <%= @game_details['stats']['rank'] || 'N/A' %>, Waitlisted: <%= @game_details['stats']['waitlisted'] || 'N/A' %>, Collected: <%= @game_details['stats']['collected'] || 'N/A' %></li>
        <% end %>
        <% if @game_details['players'].present? %>
          <li><strong>Players:</strong> 
            Recent: <%= @game_details['players']['recent'] || 'N/A' %>, 
            Day: <%= @game_details['players']['day'] || 'N/A' %>, 
            Week: <%= @game_details['players']['week'] || 'N/A' %>, 
            Peak: <%= @game_details['players']['peak'] || 'N/A' %>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="game-banner">
      <% if @game_details['assets'].present? && @game_details['assets']['banner300'].present? %>
        <img src="<%= @game_details['assets']['banner300'] %>" alt="Game Banner">
      <% else %>
        <!-- Immagine di placeholder nel caso in cui l'API non fornisca un'immagine -->
        <img src="<%= asset_path("placeholder.png") %>" alt="Placeholder Image">
      <% end %>
    </div>
    </div>
  <% else %>
    <p>No game details available.</p>
  <% end %>
</div>
</div>
<div class="container">
  <% if @game_prices.present? %>
    <div class="game-prices-section">
      <table class="prices-table">
        <thead>
          <tr class="header-row">
            <th>Shop</th>
            <th>Price</th>
            <th>Regular Price</th>
            <th>Vouchers</th>
            <th>Cut</th>
            <th>Store Low</th>
            <th>DRM</th>
            <th>Platforms</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
        <% @game_prices.each do |game_price| %>
          <% game_price['deals'].each do |deal| %>
            <tr>
              <td class="deal"><%= deal['shop']['name'] %></td>
              <% if deal['price'].present? %>
                <td class="price bold-text"><%= number_with_precision(deal['price']['amount'], precision: 2) %> <%= deal['price']['currency'] %></td>
              <% else %>
                <td class="price bold-text">N/A</td>
              <% end %>
              <% if deal['regular'].present? %>
                <td class="regular-price crossed-out"><%= number_with_precision(deal['regular']['amount'], precision: 2) %> <%= deal['regular']['currency'] %></td> 
              <% else %>
                <td class="regular-price crossed-out">N/A</td>
              <% end %>
              <% if deal['voucher'].present? %>
                <td class="voucher"><%= deal['voucher'] %></td>
              <% else %>
                <td class="voucher"></td>
              <% end %>
              <% if deal['price'].present? && deal['regular'].present? %>
                <td class="cut"><%= number_to_percentage(calculate_cut(deal['price']['amount'], deal['regular']['amount']).to_i, precision: 0) %></td>
              <% else %>
                <td class="cut">N/A</td>
              <% end %>
                <% if deal['storeLow'].present? %>
                  <td><%= number_with_precision(deal['storeLow']['amount'], precision: 2) %> <%= deal['storeLow']['currency'] %></td>
                <% else %>
                  <td>N/A</td>
                <% end %>
                <% if deal['drm'].present? %>
                  <td class="drm"><%= deal['drm'].map { |drm| drm['name'] }.join(', ') %></td>
                <% else %>
                  <td class="drm">N/A</td>
                <% end %>
                <td class="platform-icons">
                  <% if deal['platforms'].present? %>
                    <% deal['platforms'].each do |platform| %>
                      <img src="<%= asset_path("#{platform['name']}.png") %>" alt="<%= platform['name'] %>" style="width: 24px; height: 24px;">
                    <% end %>
                  <% end %>
                </td>
                <td><%= link_to 'Link', deal['url'] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="no-info-message">We currently have no other information available.</p>
  <% end %>  
