<h1>Nuove Offerte</h1>
<%= link_to 'Admin Panel', admins_index_path %>
<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Prezzo Attuale</th>
      <th>Prezzo Originale</th>
      <th>Sconto</th>
      <th>Data Inizio Sconto</th>
      <th>Data Fine Sconto</th>
      <th>Dettagli</th>
    </tr>
  </thead>
  <tbody>
  <% @deals.each do |deal| %>
    <tr>
      <td><%= deal_title(deal) %></td>
      <td><%= formatted_price(deal['price_new']) %></td>
      <td><%= formatted_price(deal['price_old']) %></td>
      <td><%= deal['price_cut'] %> %</td>
      <td><%= formatted_time(deal['added']) %></td>
      <td><%= countdown_to_end_date(deal['expiry']) %></td>
      <td><%= shop_link(deal) %></td>
    </tr>
  <% end %>
</tbody>
</table>
