<!DOCTYPE html>
<html>

<head>
  <%= javascript_include_tag 'activestorage' %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Collegamento a Select2 CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
  <!-- Collegamento a jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Collegamento a Select2 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.0/dist/vanilla-tilt.min.js"></script>
  <%= stylesheet_link_tag 'cards', media: 'all' %>
  <%= stylesheet_link_tag 'table', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <!--FLASH MESSAGES/ALERT-->
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

  <br>    
  <!-- LAST DEALS SECTION -->
<h1 class="text-light">Stanno per terminare:</h1>
<div class="container mt-4 mb-10">
  <div id="last_deals" class="carousel slide mx-auto position-relative" style="width: 90%;" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
    <div class="carousel-inner">
      <% @lastdeals.each_slice(3).with_index do |deal_slice, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <div class="row">
            <% deal_slice.each do |deal| %>
              <div class="col-md-4">
                <div class="card card-tilt" data-tilt data-tilt-max="13" data-tilt-speed="100" data-tilt-glare="true" data-tilt-max-glare="0.2" scale="1">
                  <div class="vanilla-tilt-child">
                    <div class="image-container">
                      <% if deal['game_details'] && deal['game_details']['assets'] && deal['game_details']['assets']['banner300'] %>
                        <%= image_tag(deal['game_details']['assets']['banner300'], class: 'card-img-top img-fluid') %>
                      <% else %>
                        <%= image_tag('placeholder.png', class: 'card-img-top img-fluid') %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center"><%= link_to details_game_path(id: deal['game_details']['id']) do %>
                        <%= deal['title'] %>
                      <% end %>
                      </h5>
                      <!-- Rimuovere il codice relativo alla visualizzazione dei prezzi e della durata del deal -->
                      <!-- Aggiungere qui eventuali altri dettagli del deal -->
                      <div class="card-text text-center">
                        <%= shop_link(deal['deal']['shop']) %>
                      </div>
                    </div>
                  </div>
                  <div class="vanilla-tilt-glare"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Aggiornare i controlli del carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#last_deals" data-bs-slide="prev" style="left: -10%;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#last_deals" data-bs-slide="next" style="right: -10%;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- END OF LAST DEALS SECTION -->

  <br>
  <div class="container mt-4">
    <h1 class="text-light">Deals</h1>

    <%= form_tag(games_path, method: 'get') do %>
      <div class="row">
        <div class="col-md-2">
          <%= label_tag 'limit', 'Numero risultati:' %>
          <%= select_tag 'limit', options_for_select([20, 30, 50,100], params[:limit].to_i), class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= label_tag 'sort', 'Ordina per:' %>
          <%= select_tag 'sort', options_for_select([['Prezzo', 'price'], ['Sconto', 'cut']], params[:sort]), class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= label_tag 'order', 'Ordine:' %>
          <%= select_tag 'order', options_for_select([['Crescente', 'asc'], ['Decrescente', 'desc']], params[:order]), class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= label_tag 'shops[]', 'Filtra per shop:' %>
          <%= select_tag 'shops[]', options_for_select([
            ['Tutti gli Store', nil],
            ['AllYouPlay', 'AllYouPlay'],
            ['Amazon', 'amazonus'],
            ['DLGamer','dlgamer'],
            ['Dreamgame','dreamgame'],
            ['Epic Game Store', 'Epic'],
            ['Fanatical', 'bundlestars'],
            ['GameBillet', 'GameBillet'],
            ['GamersGate', 'GamersGate'],
            ['Gamesload','gamesload'],
            ['GamesPlanet UK', 'gamesplanet'],
            ['GamesPlanet US', 'gamesplanetus'],
            ['GamesPlanet FR', 'gamesplanetfr'],
            ['GamesPlanet DE', 'gamesplanetde'],
            ['GreenManGaming', 'GreenManGaming'],
            ['Humble Store', 'humblestore'],
            ['Itch.io','itchio'],
            ['IndieGala Store', 'indiegalastore'],
            ['JoyBuggy', 'JoyBuggy'],
            ['Noctre', 'Noctre'],
            ['Steam', 'Steam'],
            ['Ubisoft Store', 'uplay'],
            ['Voidu','voidu'],
            ['2game', 'game2'],
          ], params[:shops]), { multiple: true, class: 'form-control custom-select select2 shop-filter' } %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Applica filtri', class: 'btn btn-primary mt-4' %>
        </div>
      </div>
    <% end %>
    <button id="toggleViewButton" class="btn btn-primary mt-4 mb-4"></button>
    <br>
    
    <div class="table-responsive">
      <table class="table table-custom">
        <thead class="thead-dark">
          <tr>
            <th class="text-light">Immagine</th>
            <th class="text-light">Titolo</th>
            <th class="text-light">Prezzo Attuale</th>
            <th class="text-light">Prezzo Originale</th>
            <th class="text-light">Sconto</th>
            <th class="text-light">Data Inizio Sconto</th>
            <th class="text-light">Data Fine Sconto</th>
            <th class="text-light">Dettagli</th>
          </tr>
        </thead>
        <tbody>
  <% @deals.each do |deal| %>
    <tr>
      <td class="text-light">
        <div class="image-container">
        <% if deal['game_details'].is_a?(Hash) && deal['game_details']['assets'].is_a?(Hash) && deal['game_details']['assets']['banner300'].is_a?(String) %>
        <%= image_tag(deal['game_details']['assets']['banner300'], class: 'card-img-top img-fluid', alt: deal['title']) %>
      <% else %>
        <%= image_tag('placeholder.png', class: 'card-img-top img-fluid', alt: deal['title']) %>
      <% end %>      
        </div>
      </td>
      <td class="text-light">
      <%= link_to details_game_path(id: deal['game_details']['id']) do %>
        <%= deal['title'] %>
      <% end %>      
      </td>
      <td class="text-light text-center price_new"><%= "%.2f" % (deal['deal']['price']['amount'].to_f || 0) %> <%= deal['deal']['price']['currency'] %></td>
      <td class="price_original"><%= "%.2f" % (deal['deal']['regular']['amount'].to_f || 0) %> <%= deal['deal']['regular']['currency'] %></td>
      <td class="price_cut"><%= deal['deal']['cut'] %> %</td>
      <td class="deal_added"><%= formatted_time(deal['deal']['timestamp']) %></td>
      <td class="deal_expiry">
        <% if deal['deal']['expiry'] %>
          <% expiry_time = Time.parse(deal['deal']['expiry']) %>
          <% remaining_time = expiry_time - Time.now %>
          <% days = (remaining_time / 1.day).to_i %>
          <% hours = (remaining_time / 1.hour % 24).to_i %>
          <% minutes = (remaining_time / 1.minute % 60).to_i %>
          <% total_minutes = days * 24 * 60 + hours * 60 + minutes %>
          <% if total_minutes > 60 %>
            <span class="text-success"><%= "#{days} days, #{hours} hours, #{minutes} minutes" %></span>
          <% elsif total_minutes > 15 %>
            <span class="text-warning"><%= "#{days} days, #{hours} hours, #{minutes} minutes" %></span>
          <% else %>
            <span class="text-danger"><%= "#{days} days, #{hours} hours, #{minutes} minutes" %></span>
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-light deal_shop"><%= shop_link(deal['deal']['shop']) %></td>
    </tr>
  <% end %>      
</tbody>

      </table>
    </div>

    <div class="container card-cont">
  <% if @deals.present? %>
    <div class="row row-cols-1 row-cols-md-3">
      <% @deals.each do |deal| %>
        <div class="col mb-2">
          <div class="card card-tilt">
            <div class="vanilla-tilt-child">
              <div class="image-container">
              <% if deal['game_details'].is_a?(Hash) && deal['game_details']['assets'].is_a?(Hash) && deal['game_details']['assets']['banner300'].is_a?(String) %>
              <%= image_tag(deal['game_details']['assets']['banner300'], class: 'card-img-top img-fluid', alt: deal['title']) %>
            <% else %>
              <%= image_tag('placeholder.png', class: 'card-img-top img-fluid', alt: deal['title']) %>
            <% end %>            
              </div>
              <div class="card-body">
                <h5 class="card-title text-center"><%= link_to details_game_path(id: deal['game_details']['id']) do %>
                  <%= deal['title'] %>
                <% end %>
                </h5>
                <p class="card-text text-center">
                  <del><%= "%.2f" % deal['deal']['regular']['amount'].to_f %> <%= deal['deal']['regular']['currency'] %></del>
                  <% if deal['deal']['price']['amount'] == 0 %>
                    <span class="price-new fw-bold fs-3 text-success"><%= "%.2f" % deal['deal']['price']['amount'].to_f %> <%= deal['deal']['price']['currency'] %></span>
                    <span class="badge bg-success">Free</span>
                  <% else %>
                    <span class="price-new fw-bold fs-3"><%= "%.2f" % deal['deal']['price']['amount'].to_f %> <%= deal['deal']['price']['currency'] %></span>
                  <% end %>
                  <span class="discounted-price fw-bold fs-6">-<%= deal['deal']['cut'] %> %</span>      
                </p>              
                <p class="card-text text-center">
                  Ends in: 
                  <% remaining_time = countdown_to_end_date(deal['deal']['expiry']) %>
                  <% days, hours, minutes, seconds = remaining_time.scan(/\d+/) %>
                  <% total_minutes = days.to_i * 24 * 60 + hours.to_i * 60 + minutes.to_i %>
                  <% if total_minutes > 60 %>
                    <span class="text-success"><%= remaining_time %></span>
                  <% elsif total_minutes > 15 %>
                    <span class="text-warning"><%= remaining_time %></span>
                  <% else %>
                    <span class="text-danger"><%= remaining_time %></span>
                  <% end %>
                </p>
                <div class="card-text text-center">
                  <%= shop_link(deal['deal']['shop']) %>
                </div>
              </div>
              <div class="vanilla-tilt-glare"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Risultati della ricerca:</p>
    <p>Nessun risultato trovato.</p>
  <% end %>
</div>


    <script>
      // Inizializza Select2 sulla casella di selezione multipla
      $(document).ready(function() {
        var selectElement = $('.select2');

        // Imposta il placeholder
        selectElement.attr('data-placeholder', 'Seleziona uno o più store...');

        // Inizializza Select2
        selectElement.select2();

        // Aggiunge un listener per gestire la selezione
        selectElement.on('select2:select', function (e) {
          // Rimuovi il placeholder dopo la selezione
          $(this).find('[value=""]').remove();
        });
      });

      // Inizializza Vanilla Tilt sulle carte del carosello
      document.addEventListener('DOMContentLoaded', function () {
        VanillaTilt.init(document.querySelectorAll("[data-tilt]"));
      });

      // Passare da list layout a cards layout
      document.addEventListener('DOMContentLoaded', function () {
        // Declare showTableView variable outside the toggleTableView function
        let showTableView;

        // Initially hide the table and show the card view
        showTableView = toggleTableView(false);

        // Set the initial button text based on the current view
        const buttonText = showTableView ? 'Show Cards' : 'Show Table';
        document.getElementById('toggleViewButton').innerText = buttonText;

        // Add click event listener to the toggle button
        document.getElementById('toggleViewButton').addEventListener('click', function () {
          // Toggle between table and card views
          showTableView = toggleTableView();

          // Update the button text based on the current view
          const buttonText = showTableView ? 'Show Cards' : 'Show Table';
          this.innerText = buttonText;
        });

        // Function to toggle between table and card views
        function toggleTableView(forceShowTable = null) {
          const tableView = document.querySelector('.table-responsive');
          const cardView = document.querySelector('.card-cont');

          // Determine the current state
          const isTableVisible = tableView.style.display !== 'none';

          // Determine the desired state based on the input parameter or toggle
          const showTable = forceShowTable !== null ? forceShowTable : !isTableVisible;

          // Update the display property accordingly
          tableView.style.display = showTable ? 'block' : 'none';
          cardView.style.display = showTable ? 'none' : 'block';

          return showTable;
        }
      });
    </script>

  </body>

</html>
