<head>
  <title>Search</title>
  <%= stylesheet_link_tag 'details', media: 'all' %>
</head>

<h1>Search Results</h1>

<div class="container">
  <% if @games.present? %>
    <div class="game-prices-section">
      <table class="prices-table">
        <thead>
          <tr class="header-row">
            <th>Title</th>
            <th>Type</th>
            <th>Price</th>
            <th>Regular Price</th>
            <th>Cut</th>
            <th>Shop</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td class="title">
                <%= link_to details_game_path(id: game['id']) do %>
                <%= game['title'] %>
              <% end %>
              </td>

              <td class="type">
                <% if game['type'].present? %>
                  <%= game['type'] %>
                <%else %>
                 N/A
                <%end %>
              </td>

              <td class="price bold-text">
              <% if game['prices'].present? %>
              <% first_price = game['prices'].first %>
              <% if first_price['deals'].present? %>
                <% first_deal = first_price['deals'].first %>
                <% if first_deal['price'] %>
                  <%= number_to_currency(first_deal['price']['amount'], unit: first_deal['price']['currency'], format: '%n %u') %>
                <% else %>
                  N/A
                <% end %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
              
          <td class="regular-price crossed-out">
            <% if game['prices'].present? %>
              <% first_price = game['prices'].first %>
              <% if first_price['deals'].present? %>
                <% first_deal = first_price['deals'].first %>
                <% if first_deal['regular'] %>
                  <%= number_to_currency(first_deal['regular']['amount'], unit: first_deal['regular']['currency'], format: '%n %u') %>
                <% else %>
                  N/A
                <% end %>
              <% else %>
                  N/A
              <% end %>
            <% else %>
              N/A 
            <% end %>
          </td>

          <td class="cut">
            <% if game['prices'].present? %>
            <% first_price = game['prices'].first %>
            <% if first_price['deals'].present? %>
              <% first_deal = first_price['deals'].first %>
              <% if first_deal['cut'] %>
                <%= number_to_percentage(first_deal['cut'], precision: 0) %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          <% else %>
            N/A
          <% end %>
        </td>

        <td class="deal">
          <% if game['prices'].present? %>
            <% first_price = game['prices'].first %>
            <% if first_price['deals'].present? %>
              <% first_deal = first_price['deals'].first %>
              <% if first_deal['shop'] %>
                <%= first_deal['shop']['name'] %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          <% else %>
            N/A
          <% end %>
        </td>
             
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="no-info-message">No search results available.</p>
  <% end %>
</div>
