<!DOCTYPE html>
<html>
<head>
  <title>Support page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <style>

    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      justify-content: center;
      align-items: center;
      height: 70vh;
    }

    .card-container {
      justify-content: space-between;
      width: 80%;
    }

    .card {
      flex: 1;
      margin: 10px;
      box-sizing: border-box;
      padding: 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

  </style>
</head>
<body>
<!--FLASH MESSAGES/ALERT-->
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
      <div class="card" style="padding: 40px;">
        <h1>Something wrong?</h1>
        <h1>Contact us!</h1>
        <br>

        <%= form_with(model: @support, url: new_support_path, method: :post) do |form| %>

          <!-- Your support form fields here -->
          <div>
              <%= form.label :username %>
              <%= form.text_field :username %>
          </div><br>

          <div>
          </div><br>

          <div>
            <%= form.label :email %>
            <%= form.email_field :email %>
          </div><br>

          <div>
            <%= form.label :message %>
            <%= form.text_area :message %>
          </div><br>

          <div>
            <button type="submit" value="Submit" class="button">send an e-mail</button>
          </div>
        <% end %>

      </div>
    </div>

    <%= link_to "GameSalesTracker", root_path, class: "button-link" %>
  </section>
</body>
</html>
