<head>
  <%= javascript_include_tag 'activestorage' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'profile', media: 'all' %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<!-- FLASH MESSAGES/ALERT -->
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="profile-container">
  <!-- Left Column (30% of total width) -->
  <div class="profile-left-column">
    <h2>Your Account</h2>

    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "rounded-circle profile-picture", size: "100x100" %>
    <% else %>
      <%= image_tag("user.jpg", alt: "User Image", class: "rounded-circle profile-picture", size: "100x100") %>
    <% end %>
    <p><strong>Username:</strong> <%= current_user.username %></p>
    
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'profile-button' %>
    <br><br>
    <%= link_to 'Show My Comments', user_comments_path, class: 'profile-button' %>
  </div>

  <!-- Right Column (70% of total width) -->
  <div class="profile-right-column">
    <h2>Account Overview</h2>
    <ul>
      <li><strong>Username:</strong> <%= current_user.username %></li>
      <li><strong>Email:</strong> <%= current_user.email %></li>
      <li><strong>Description:</strong> <% if current_user.description.present? %><%= current_user.description %><% else %> You can add a Description through Edit Profile button! <% end %> </li>
    </ul>
  </div>
</div>
<hr class="separator">
<div class="profile-container">
  <div class="wishlist">
    <h1 style="align: center"> <h2>Your Collections:</h2> <br><br>

    <% if @collections.present? %>
      <% @collections.each do |collection| %>
        <div>
          <div class="mb-4">
            <h3 style="padding-left: 10px;"><%= collection.name %></h3><br>
            <% games_in_collection = GameCollection.where(collection_id: collection.id).pluck(:game_id) %>
            <% if games_in_collection.present? %>
              <div id="<%= "collectionCarousel_#{collection.id}" %>" class="carousel slide mx-auto position-relative" style="width: 90%;" data-bs-interval="false">
                <div class="carousel-inner">
                  <% games_in_collection.each_slice(3).with_index do |games_batch, index| %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                      <div class="row">
                        <% games_batch.each do |game_plain| %>
                          <% game_info = game_info(game_plain) %>
                          <% prices = get_game_prices(game_plain) %>
                          <div class="col">
                            <div class="card">
                              <% if game_info['assets'].present? && game_info['assets']['banner400'].present? %>
                                <%= image_tag(game_info['assets']['banner400'], class: 'img-fluid') %>
                              <% else %>
                                <%= image_tag(image_path('placeholder.png'), class: 'img-fluid') %>
                              <% end %>
                              <div class="card-body">
                                <h5 class="card-title"><%= game_info['title'] %></h5>

                                <% prices.each do |price| %>
                                  <% first_deal = price['deals'].first %>
                                  <p class="card-text text-center">
                                    <del><%= "%.2f" % first_deal['regular']['amount'].to_f %> <%= first_deal['price']['currency'] %></del>
                                    <% if first_deal['price']['amount'] == 0 %>
                                      <span class="price-new fw-bold fs-3 text-success"><%= "%.2f" % first_deal['price']['amount'].to_f %> <%= first_deal['price']['currency'] %></span>
                                      <span class="badge bg-success">Free</span>
                                    <% elsif first_deal %>
                                      <span class="price-new fw-bold fs-3"><%= "%.2f" % first_deal['price']['amount'].to_f %> <%= first_deal['price']['currency'] %></span>
                                    <% else %>
                                      <p>No price information available</p>
                                    <% end %>
                                    <span class="discounted-price fw-bold fs-6">-<%= first_deal['cut'] %>%</span>
                                  </p>
                                <% end %>

                                <br>
                                <%= link_to "Details", details_game_path(id: game_plain), class: "btn profile-button" %>
                                <%= button_to raw('<i class="fas fa-times"></i>'), { controller: 'game_collections', action: 'destroy', id: collection.id, game_id: game_plain }, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure you want to delete this game from your collection?" }, 
                                  method: :delete, class: "btn btn-delete" %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                        <% (3 - games_batch.size).times do %>
                          <div class="col"></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="<%= "#collectionCarousel_#{collection.id}" %>" data-bs-slide="prev" style="left: -12%;">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="<%= "#collectionCarousel_#{collection.id}" %>" data-bs-slide="next" style="right: -12%;">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <% else %>
              <p>No games in this collection.</p>
            <% end %><br>
            <% if collection.name != "My Wishlist" %>
              <%= button_to 'Delete Collection', collection, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
            <% end %>
            <br>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You don't have any collections yet.</p>
    <% end %>

    <br>

    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#newCollectionModal">
      New Collection
    </button>

    <!-- Modal for the new collection form -->
    <div class="modal fade" id="newCollectionModal" tabindex="-1" aria-labelledby="newCollectionModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
          <div class="modal-header">
            <h5 class="modal-title" id="newCollectionModalLabel">Create a New Collection</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with(model: Collection.new, url: collections_path, remote: true, id: "newCollectionForm") do |form| %>
              <div class="mb-3">
                <%= form.label :name, 'Collection Name', class: 'form-label' %>
                <%= form.text_field :name, class: 'form-control', required: true %>
              </div>
              <%= form.submit 'Save', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
