<head>
<%= javascript_include_tag 'activestorage' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'profile', media: 'all' %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<div class="profile-container">
  <!-- Left Column (30% of total width) -->
  <div class="profile-left-column">
    <h2>Your Account</h2>


      <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "rounded-circle profile-picture", size: "100x100" %>
      <% else %>
      <%= image_tag("user.jpg", alt: "User Image", class: "rounded-circle profile-picture", size: "100x100") %>

      <% end %>
    <p><strong>Username:</strong> <%= current_user.username %></p>
    
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'edit-profile-button' %>
  </div>

  <!-- Right Column (70% of total width) -->
  <div class="profile-right-column">
    <h2>Account Overview</h2>
    <ul>
      <li><strong>Username:</strong> <%= current_user.username %></li>
      <li><strong>Email:</strong> <%= current_user.email %></li>
      <li><strong>Description:</strong> <% if current_user.description.present?%>  <%= current_user.description %> <% else %> You can add a Description through Edit Profile button! <%end%> </li>
    
    </ul>
  </div>
</div>
<hr class="separator">
<div class="profile-container">
  <div class="wishlist">
    <h1 style="align: center">

<h2>Your Collections:</h2>
<br><br>

<% if @collections.present? %>
  <% @collections.each do |collection| %>
    <div>
      <h3><%= collection.name %></h3>
      <% games_in_collection = GameCollection.where(collection_id: collection.id).pluck(:plain) %>
      <% if games_in_collection.present? %>
        <div id="<%= "collectionCarousel_#{collection.id}" %>" class="carousel slide" data-bs-interval="false">
          <div class="carousel-inner">
            <% games_in_collection.each_with_index do |game_plain, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><%= game_plain %></h5>
                    <%= link_to "Details", details_game_path(plain: game_plain), class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="<%= "#collectionCarousel_#{collection.id}" %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="<%= "#collectionCarousel_#{collection.id}" %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% else %>
        <p>No games in this collection.</p>
      <% end %><br>
      <%= button_to 'Delete', collection, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      <br><br>
    </div>
  <% end %>
<% else %>
  <p>You don't have any collections yet.</p>
<% end %>
    </h1>
    <%= link_to "Add a new collection", collections_path, class: "button-link" %>
  </div>
</div>
<br>