
<head>
<%= javascript_include_tag 'activestorage' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'profile', media: 'all' %>
</head>


<div class="profile-container">
  <!-- Left Column (30% of total width) -->
  <div class="profile-left-column">
    <h2>Your Account</h2>


      <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "rounded-circle profile-picture", size: "100x100" %>
      <% else %>
      <%= image_tag("user.jpg", alt: "User Image", class: "rounded-circle profile-picture", size: "100x100") %>

      <% end %>
    <p><strong>Username:</strong> <%= current_user.username %></p>
    
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'edit-profile-button' %>
  </div>

  <!-- Right Column (70% of total width) -->
  <div class="profile-right-column">
    <h2>Account Overview</h2>
    <ul>
      <li><strong>Username:</strong> <%= current_user.username %></li>
      <li><strong>Email:</strong> <%= current_user.email %></li>
      <li><strong>Description:</strong> <% if current_user.description.present?%>  <%= current_user.description %> <% else %> You can add a Description through Edit Profile button! <%end%> </li>
    
    </ul>
  </div>
</div>
<hr class="separator">
<div class="profile-container">
  <div class="wishlist">
    <h1 style="align: center">
    
<h2>Your Collections:</h2>
<% if @collections.present? %>
  <ul>
    <% @collections.each do |collection| %>
      <li>
        <%= collection.name %>
        <%= button_to 'Delete', collection, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

        <% games_in_collection = GameCollection.where(collection_id: collection.id).pluck(:plain) %>
        <% if games_in_collection.present? %>
          <ul>
            <% games_in_collection.each do |game_plain| %>
              <li><%= link_to game_plain, details_game_path(plain: game_plain) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No games in this collection.</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any collections yet.</p>
<% end %>
    
    
    
    </h1>
  </div>
</div>
<br><br><br>


